<div class="col-md-12">
  <div class="media jumbotron">
    <% avatar_url = @user.avatar_url(86) %>
    <% if avatar_url %>
      <div class="media-left">
        <%= image_tag avatar_url, class: 'media-object' %>
      </div>
      <% end %>
    <div class="media-body">
      <h2 class="media-heading"><%= @user.username %></h2>
      <h4>email: <%= @user.email %></h4>
      <h5>Member since: <%= @user.created_at.strftime('%x') %></h5>
    </div>
  </div>
  <div class='private'>
    <%= form_for [@user] do |f| %>
      <% if current_user == @user %>
        <%= f.label :private, class: 'checkbox' do %>
          <%= f.check_box :private %> Make profile private
        <% end %>
        <div class="form-group">
          <%= f.submit "Save", class: 'btn btn-success' %>
        </div>
      <% end %>
    <% end %>
  </div>

  <% if current_user == @user %>
    <div class="col-md-8">
      <%= render partial: 'items/form' %>
    </div>
  <% end %>

  <div class="col-md-8">
    <%= render partial: 'items/item' %>
  </div>
</div>
